body{
    background: url("../ima/fondo.png") ;
    font-family: Helvetica,Arial,sans-serif;
}

.header{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    height: 80px;
    align-content: center;
    justify-content: space-evenly;
    border: 2px solid rgb(245, 245, 245);/*rgb(252, 121, 46)*/
}


#cuadrouno{
    display: flex;
    flex-wrap: wrap;
}

.icono-menu{
 
    position: relative;
    z-index: 10;
}

.icono-menu img{
    vertical-align: top;
    width: 30px;
    cursor: pointer;
}

.cont-menu{
    background-color: rgb(248, 249, 250);
    box-shadow: 2px 0px 5px 2px rgb(232, 62, 22);
    width: 400px;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

.active{
    transform: translate(-600px);
}

.opacity{
    background-color: blue;
    transition: all .5s ease;
}


.cont-menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}



.cont-menu ul li a{
    color:black;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul li a:hover{
    background-color: rgb(232, 62, 22);
    color: white;
}



.icono-menu{
    background-color: rgba(245, 245, 245, 0);
    width: 30%;
    height: 25px;
    margin-top: 16px;

}


.logo{
    background: url("../ima/logo.PNG") no-repeat center center/cover;
    width: 20%;
    height: 60px;

}

.compra{
    margin-top: 16px;
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 25px;

}

.compra a {

    margin-left: 350px;
    color:black;
    text-decoration: none;
    font-size: 1.5em;


}

.compra a :hover{    
    color: rgb(252, 121, 46);
    text-decoration: underline 1px solid rgb(252, 121, 46);
}

.titcal{
    align-items: center;
    text-decoration: none;
    font-size: 2.0em;
    color: rgb(232, 62, 22);
    margin-top: 100px;
    margin-left: 100px;
    padding: 5px;
    margin-bottom: 20px;
    
    }










.contenedor{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    align-content: center;
    justify-content: space-evenly;
}

.cajas1{
    background: url("../ima/tres.jpg") no-repeat center center/cover;
    width: 30%;
    height: 250px;
    margin-bottom: 5px;
    border: 2px solid rgb(255, 255, 255);
}

.cajas2{
    background: url("../ima/uno.jpg") no-repeat center center/cover;
    width: 30%;
    height: 250px;
    margin-bottom: 5px;
    border: 2px solid rgb(255, 255, 255);
}
.cajas3{
    background: url("../ima/migue.png") no-repeat center center/cover;
    width: 30%;
    height: 250px;
    margin-bottom: 5px;
    border: 2px solid rgb(255, 255, 255);
}

.cajas4{
    background: url("../ima/cal4.jpg") no-repeat center center/cover;
    width: 30%;
    height: 250px;
    margin-bottom: 5px;
    border: 2px solid rgb(255, 255, 255);
}

.cajas5{
    background: url("../ima/cinco.jpg") no-repeat center center/cover;
    width: 30%;
    height: 250px;
    margin-bottom: 5px;
    border: 2px solid rgb(255, 255, 255);
}
.cajas6{
    background: url("../ima/dos.jpg") no-repeat center center/cover;
    width: 30%;
    height: 250px;
    margin-bottom: 5px;
    border: 2px solid rgb(255, 255, 255);
}

#cajauno{
    display: flex;
    flex-wrap: wrap;
}
.nombre1{
    background-color: rgba(232, 61, 22, 0.767);;
    width: 100%;
    height: 20px;
    padding: 10px;
    text-align: center;

}


.escrito1{
    width: 100%;
    height: 200px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: justify;
    padding-top: 5px;
    background-color: rgba(53, 126, 139, 0.589);
}

.escrito1 p{
    width: 100%;
    height: 30px;
    padding-left: 3px;
    padding-right: 3px;
    text-align: center;
    margin-top: 5px;
    font-weight: bolder;

}

.escrito1 a{  
    color: black;
    text-decoration: none;
    font-size: 1.0em;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 2px;
    text-align: center;
    margin-left: 150px;
}




































/* Con un ipad*/

@media (max-width: 1024px){

    .header{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        height: 100px;
        align-content: center;
        justify-content: space-evenly;
        border: 2px solid rgb(245, 245, 245);/*rgb(252, 121, 46)*/
        margin-bottom: 20px;
        width: 100%;
    }
    
    
    
    
    #cuadrouno{
        display: flex;
        flex-wrap: wrap;
    }
    
    .icono-menu{
     
        position: relative;
        z-index: 10;
    }
    
    .icono-menu img{
        vertical-align: top;
        width: 40px;
        cursor: pointer;
    } 
    
    .cont-menu{
        background-color: rgb(248, 249, 250);
        box-shadow: 2px 0px 5px 2px rgb(232, 62, 22);
        width: 400px;
        height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .5s ease;
    }

    
    
    .cont-menu ul{
        padding: 100px 0px 20px 0px;
        list-style: none;
    }
    
    
    
    .cont-menu ul li a{
        color:black;
        display: block;
        font-size: 25px;
        text-decoration: none;
        padding: 10px 50px;
        cursor: pointer;
    }
    
    .cont-menu ul li a:hover{
        background-color: rgb(232, 62, 22);
        color: white;
    }
    
    
    
    .icono-menu{
        width: 10%;
        height: 25px;
        margin-top: 16px;
    
    }
    
    
    .logo{
        background: url("../ima/logo.PNG") no-repeat center center/cover;
        width: 30%;
        height: 60px;
    
    }
    
    .compra{
        margin-top: 10px;
        background-color: rgb(255, 255, 255);
        width: 10%;
        height: 25px;
    
    }
    
    .compra a {
        margin-left: 12px;
        color:black;
        text-decoration: none;
        font-size: 1.8em;
    
    
    }
    
    .compra a :hover{    
        color: rgb(252, 121, 46);
        text-decoration: underline 1px solid rgb(252, 121, 46);
    }
    
    .titcal{
        align-items: center;
        text-decoration: none;
        font-size: 2.0em;
        color: rgb(232, 62, 22);
        margin-top: 100px;
        margin-left: 100px;
        padding: 5px;
        margin-bottom: 20px;
        
        }













        .contenedor{
            display: flex;
            flex-wrap: wrap;
            height: 3000px;
            align-content: center;
            justify-content: space-evenly;
            
        }
        
        .cajas1{
            background: url("../ima/tres.jpg") no-repeat center center/cover;
            width: 80%;
            height: 450px;
            margin-bottom: 5px;
            border: 2px solid rgb(255, 255, 255);
            font-size: xx-large;
        }
        
        .cajas2{
            background: url("../ima/uno.jpg") no-repeat center center/cover;
            width: 80%;
            height: 450px;
            margin-bottom: 5px;
            border: 2px solid rgb(255, 255, 255);
            font-size: xx-large;
        }
        .cajas3{
            background: url("../ima/migue.png") no-repeat center center/cover;
            width: 80%;
            height: 450px;
            margin-bottom: 5px;
            border: 2px solid rgb(255, 255, 255);
            font-size: xx-large;
        }
        
        .cajas4{
            background: url("../ima/cal4.jpg") no-repeat center center/cover;
            width: 80%;
            height: 450px;
            margin-bottom: 5px;
            border: 2px solid rgb(255, 255, 255);
            font-size: xx-large;
        }
        
        .cajas5{
            background: url("../ima/cinco.jpg") no-repeat center center/cover;
            width: 80%;
            height: 450px;
            margin-bottom: 5px;
            border: 2px solid rgb(255, 255, 255);
            font-size: xx-large;
        }
        .cajas6{
            background: url("../ima/dos.jpg") no-repeat center center/cover;
            width: 80%;
            height: 450px;
            margin-bottom: 5px;
            border: 2px solid rgb(255, 255, 255);
            font-size: xx-large;
        }


        .escrito1 a{  
            color: black;
            text-decoration: none;
            font-size: 1.0em;
            background-color: white;
            border-radius: 5px 5px 5px 5px;
            padding: 2px;
            text-align: center;
            margin-left: 325px;
        }

        .escrito1{
            width: 100%;
            height: 400px;
            padding-left: 3px;
            padding-right: 3px;
            text-align: justify;
            padding-top: 5px;
            background-color: rgba(53, 126, 139, 0.589);
        }
        
     
}